@font-face {
  font-family: "Foundry Monoline";
  src: url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.eot");
  src: url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/93383e2216fcd1de37a850bf5d100898.svg#Foundry Monoline") format("svg");
}

html {
  font-family: Foundry Monoline !important;
  background-color: #fff;
}

// Reseting all container paddings
.container-fluid {
  padding: 0 !important;
}

img, .nav-icons {
  background: transparent no-repeat padding-box !important;
}


/* Media queries for responsive mobile */
@media only screen and (min-width: 600px) {

  // Navbar page
  .initial-bar-mobile {
    display: none !important;
  }

  // Header page
  .civic-10 {
    display: none !important;
  }

  // DriverEmotion page
  .img-civic-mobile {
    display: none !important;
  }

  // CivicInterior page
  .civic-interior-mobile, .spans-civic-inside {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  /* Removing all initials margins */
  .remove-margin {
    margin: 0 0 0 0 !important;
  }

  /* Removing all initials paddings */
  .remove-padding {
    padding: 0 0 0 0 !important;
  }
  
  // Navbar page
  .initial-bar {
    display: none !important;
  }

  .initial-bar-mobile {
    width: 100% !important;
    height: 40px;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-origin: padding-box;
    margin: 0 !important;
    padding-top: 7px;
  }

  .home-icon {
    width: 30px;
    height: 25px
  }

  .location-icon {
    width: 18px;
    height: 25px;
  }

  .email-icon {
    width: 24px;
    height: 20px;
  }

  // Header page
  .center-contact-logo {
    text-align: center !important;
    margin-top: 28.7px;
  }

  .phone-number {
    margin-left: 10px !important;
  }

  .background-civic {
    display: none !important;
  }

  .civic-10 {
    margin: 7px auto 40.38px auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  // Contacts page
  .contact-card {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    min-width: 90%;
  }

  // DriverEmotion page
  .emotion-text {
    margin: 43px 20px 14px 20px !important;
    font: italic normal bold 24px/32px Foundry Monoline !important;
    text-align: center;
    height: 85px;
  }

  .img-together {
    padding: 0 20px 0 35.5px !important;
    min-width: 100% !important;
    margin-bottom: 37px !important;
  }

  .img-civic-mobile {
    border: none !important;
    min-width: 90% !important;
  }

  .img-civic {
    display: none !important;
  }

  .civic-text {
    max-width: 100% !important;
    height: 143px !important;
    text-align: center;
    font-weight: bold !important;
    padding: 0px 20px 0px 20px !important;
    margin: 0px 0px 42px 0px !important;
    font-size: 18.7px !important;
  }

  .img-3-cars {
    display: none !important;
  }

  // CivicInterior page
  .ready, .know {
    height: 64px !important;
    width: 100% !important;
  }

  .civic-interior {
    display: none !important;
  }

  .gradiente-background {
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  }

  .civic-interior-mobile {
    object-fit: cover !important;
  }

  .spans-civic-inside {
    position: absolute;
    top: 1475px;
    text-align: center !important;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 0 33px 0 34px !important;
  }

  .text-civic-inside1 {
    font: italic normal normal 24px/32px Foundry Monoline;
    height: 64px;
  }

  .text-civic-inside2 {
    font: normal normal normal 16.5px/21px Foundry Monoline;
    height: 42px;
  }

  .ready {
    text-align: center !important;
    margin-top: 60px !important;
    font: italic normal bold 26px/32px Foundry Monoline !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .know {
    text-align: center !important;
    margin-top: 0rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .row-cards-exemples {
    margin: 0 20px 0 20px !important;
  }

  .card-exemples {
    width: 100% !important;
    height: 196px !important;
    margin-bottom: 3.5rem !important
  }

  .know-button {
    width: 100% !important;
    position: relative;
    top: 20px;
    min-height: 36px !important;
  }

  .car-exemple-text {
    display: none !important;
  }

  // Footer page
  .background-footer {
    height: 339px !important;
    max-width: 100% !important;
    /* padding: 0 52px 0 52px !important; */
  }

  .contact-footer {
    margin: -17px 0 -5px 0 !important;
    padding-top: 0.5rem !important;
  }

  .follow {
    font: italic normal bold 20px/24px Foundry Monoline !important;
    text-align: center;
    padding: 0 52px 0 52px !important;
  }
  
  // Adding responsivity to social icons on footer
  .col-1 {
    min-width: 16% !important
  }

  .footer-logo {
    margin-top: -1rem !important;
  }

  .col-ibama {
    text-align: center !important;
    margin-top: 0.5rem !important;
  }

  .final-row-footer {
    min-height: 181px !important;
  }


  //Media queries for text position on image of civic inside
  @media only screen and (max-width: 380px) {
    .spans-civic-inside {
      top: 1390px !important;
    }
  }

  @media only screen and (max-width: 330px) {
    .spans-civic-inside {
      top: 1310px !important;
    }
  }

}
