// Reseting all container paddings
 
.container-fluid {
  padding: 0 !important;
}

img, .nav-icons {
  background: transparent no-repeat padding-box !important;
}


/* Media queries for responsive mobile */
@media only screen and (min-width: 500px) {

  // Navbar page
  .initial-bar-mobile {
    display: none !important;
  }

  // Header page
  .civic-10 {
    display: none !important;
  }

  // DriverEmotion page
  .img-civic-mobile {
    display: none !important;
  }

  // CivicInterior page
  .civic-interior-mobile, .spans-civic-inside {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  /* Removing all initials margins */
  .remove-margin {
    margin: 0 !important;
  }

  /* Removing all initials paddings */
  .remove-padding {
    padding: 0 !important;
  }
  
  // Navbar page
  .initial-bar {
    display: none !important;
  }

  .initial-bar-mobile {
    min-width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-origin: padding-box
  }

  .home-icon {
    width: 30px;
    height: 25px
  }

  .location-icon {
    width: 18px;
    height: 25px;
  }

  .email-icon {
    width: 24px;
    height: 20px;
  }

  // DriverEmotion page
  .emotion-text {
    margin: 43px 20px 14px 20px !important;
    font: italic normal bold 24px/32px Foundry Monoline !important;
    text-align: center;
    height: 85px;
  }

  .img-together {
    padding: 0 20px 0 35.5px !important;
    min-width: 100% !important;
    margin-bottom: 37px !important;
  }

  .img-civic-mobile {
    border: none !important;
    min-width: 90% !important;
  }

  .img-civic {
    display: none !important;
  }

  .civic-text {
    max-width: 100% !important;
    height: 143px !important;
    text-align: center;
    font-weight: bold !important;
    padding: 0px 20px 0px 20px !important;
    margin: 0px 0px 42px 0px !important;
    font-size: 18.7px !important;
  }

  .img-3-cars {
    display: none !important;
  }

  // CivicInterior page
  .ready, .know {
    height: 64px !important;
    width: 100% !important;
  }

  // Header page
  .call-center-col {
    margin-top: 28.7px;
  }

  .background-civic {
    display: none !important;
  }

  .civic-10 {
    margin: 7px auto 40.38px auto !important;
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }

  // Contacts page
  .contact-card {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    min-width: 90%;
  }

  // CivicInterior page
  .civic-interior {
    display: none !important;
  }

  .gradiente-background {
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  }

  .civic-interior-mobile {
    height: 415px;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover !important;
  }

  .spans-civic-inside {
    position: absolute;
    top: 1615px;
    text-align: center !important;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 0 33px 0 34px !important;
  }

  .text-civic-inside1 {
    font: italic normal normal 24px/32px Foundry Monoline;
    height: 64px;
    /* margin: 0 54px 0 55px; */
  }

  .text-civic-inside2 {
    font: normal normal normal 16px/21px Foundry Monoline;
    height: 42px;
    /* margin: 0 33px 0 34px; */
  }
}
